.catalog{
    &__block{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 85px;
        &-item{
            &-title{
                margin-bottom: 20px;
            }
            img{
                max-height: 280px;
                max-width: 413px;
            }
            p{
                max-width: 373px;
                @include font(vw(16px), 700, 20px);
                text-transform: uppercase;
                padding: 20px;
            }
        }
    }
}
footer{
    background-color: black;
    height: 600px;
}