.title{
    @include font(vw(18px), 700, 22px, $purple);
    text-transform: uppercase;
}
@media screen and(max-width:1109px) {
    .title{
        font-size: vw(23px);
    }
}
@media screen and(max-width:865px) {
    .title{
        font-size: vw(28px);
    }
}
@media screen and(max-width:577px) {
    .title{
        font-size: vmin(14px);
    }
}

